/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* Variables */
:root {
    /* Primario */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Neutral */
    --white-color: hsl(0, 0%, 100%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/* ========== Estilos generales ========== */
.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.card {
    height: 100vh;
}

.card__left {
    height: 55vh;
}

.card__left, .card__right {
    padding: 0 20px;
}

p {
    font-size: 18px;
}

span {
    color: hsla(224, 30%, 27%, 0.4);
}

.option--bold-text {
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}

/* ========== Estilos card left ========== */
.card__left {
    text-align: center;
    color: var(--white-color);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.card__left--title {
    color: hsl(241, 100%, 89%);
}

.card__circle {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 150px;
    flex-direction: column;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.circle__large--number {
    font-size: 56px;
    font-weight: 800;
    margin-top: 20px;
}

.circle__small--number {
    margin-top: -45px;
    color: hsl(241, 100%, 89%);
}

.card__left--subtitle {
    font-size: 25px;
}

.card__left--text {
    color: hsl(241, 100%, 89%);
}


/* ========== Estilos card right ========== */
.card__right--title {
    color: hsl(224, 30%, 27%);
    padding: 10px 0;
}

.card__option {
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 10px;
    margin: 15px 0px;
}

/* Estilos primera lista */
.card__option--red {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.option__text--red {
    color: hsl(0, 100%, 67%);
    padding-left: 5px;
}

/* Estilos segunda lista */
.card__option--yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.option__text--yellow {
    color: hsl(39, 100%, 56%);
    padding-left: 5px;
}

/* Estilos tercera lista */
.card__option--green {
    background-color: hsla(166, 100%, 37%, 0.1);
}
.option__text--green {
    color: hsl(166, 100%, 37%);
    padding-left: 5px;
}

/* Estilos cuarta lista */
.card__option--blue {
    background-color: hsla(234, 85%, 45%, 0.1);
}
.option__text--blue {
    color: hsl(234, 85%, 45%);
    padding-left: 5px;
}

/* Estilos boton */
.card__button {
    text-align: center;
    padding: 20px 0;
}

.button--continue {
    display: inline-block;
    width: 100%;
    height: 54px;
    border-radius: 30px;
    line-height: 54px;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 800;
    background-color: hsl(224, 30%, 27%);
}

.button--continue:hover {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}