/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primario */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradiente */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white-color: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    background-color: var(--white-color);
    color: var(--white-color);

    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

/* Tarjeta padre */

/* Tarjeta hijo - izquierda */
.card__left {
    background: linear-gradient(to bottom, var(--light-slate-blue) 10%, var(--light-royal-blue) 100%);
    text-align: center;
    height: 50vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Titulo(Your Result), texto(You scored...) */
.card__left--title, .card__left--copy {
    color: var(--light-lavender);
    padding: 20px;
}

/* Circulo(76 of 100) */
.card__circle {
    background-color: var(--dark-gray-blue);
    background: linear-gradient(to bottom, var(--cobalt-blue) 100%, var(--light-royal-blue) 10%);

    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Numero(76) */
.card__circle--number {
    font-size: 50px;
    font-weight: 800;
}

/* Rango(0f 100) */
.card__circle--range {
    color: var(--light-lavender);
}

/* Subtitulo(Great) */
.card__left--subtitle{
    padding-top: 10px;
}


/* Tarjeta hijo - derecha */
.card__right {
    background-color: aliceblue;
    color: black;
}

/* Titulo(Summary) */
.card__right--title {
    padding: 20px;
}
/* 
.card__summary {
    border: solid;
} */

/* Cards Lists */
.summary__list {
    display: flex;
    justify-content: space-between;

    background-color: var(--white-color);
    padding: 13px;
    margin: 10px 20px;
    border-radius: 10px;
    font-weight: 800;
}

.list__bgcolor--red {background-color: hsla(0, 100%, 67%, 0.2);}
.list__bgcolor--orange {background-color: hsla(39, 100%, 56%, 0.2)}
.list__bgcolor--green {background-color: hsla(166, 100%, 37%, 0.2);}
.list__bgcolor--blue {background-color: hsla(234, 85%, 45%, 0.2);}

.list__align {
    display: flex;
    align-items: center;
}

img {
    display: inline-block;
    padding-right: 8px;
}

.list__text--red { color: hsl(0, 100%, 67%);}
.list__text--orange {color: hsl(39, 100%, 56%);}
.list__text--green {color: hsl(166, 100%, 37%);}
.list__text--blue {color: hsl(234, 85%, 45%);}

/* Number (/100) */
.list__number--color {
    color: hsla(224, 30%, 27%, 0.5);
}

/* Button(Continue) */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
}